<%- include('header') -%>
    <div class="box" id="heading">
        <h2 align="center"> <%= listTitle %></h2>
    </div>

    <div class="box">
        <% for(item in tasks) { %>
            <div class="item">
                <input type="checkbox">
                <p> <%= tasks[item] %> </p>             
            </div>
        <% } %>

        <% if(dirName === "home") { %>
        <form class="item" action="/" method="POST">
            <% } else if(dirName === "work"){ %>
                <form class="item" action="/work" method="POST">
            <% } %> 
            <input type="text" name="task" placeholder="Enter Task" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>
    </div>

    <%- include('footer') -%>